@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html,
body {
    height: 100%;
}

.game-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.navbar {
    width: 100%;
    text-align: center
}

.controls {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    font-display: swap;
}

.more-icons {
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
    font-size: 1;
}

.key-container button:nth-child(11) {
    margin-left: 30px
}

.key-container button:nth-child(20),
.key-container button:nth-child(20) {
    width: 68px;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
    min-height: 400px;
    overflow-y: scroll;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.example-tile-container {
    display: flex;
}

.example-tile-container div {
    display: flex;
}

.example-tile-container .tile {
    width: 42px;
    height: 42px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    0% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

@media screen and (max-width:700px) {
    .key-container {
        width: 350px;
    }
    .key-container button {
        width: 30px;
        height: 48px;
        margin: 2px;
    }
    .key-container button:nth-child(11) {
        margin-left: 25px
    }
    .key-container button:nth-child(20),
    .key-container button:nth-child(20) {
        width: 48px;
    }
}

@media screen and (max-width:600px) {
    .controls {
        padding-left: 0;
        padding-right: 0;
    }
}

#help-section {
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(20, 19, 19);
    color: white;
}

#finished-section {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
}

#play-again-cover {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

#help-section div {
    padding-left: 1rem;
    padding-right: 1rem
}

#help-title {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center
}

#close-help-tab {
    cursor: pointer;
}

.margin-ps {
    margin-top: 1.5rem;
    font-size: 1rem
}

.examples {
    margin-bottom: 1rem;
}

#message-display {
    display: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#message-display div {
    width: 200px;
    background-color: #ffffff;
    color: #000000;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#play-again {
    display: flex;
    align-items: center;
    text-align: center;
}

#finished-section p {
    font-size: 2rem;
}

#finished-section button {
    background-color: #538d4e;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer
}